*{margin:0;padding:0;}
body{
	background-color:#0e0b16;
}
a{
	color:#0e0b16;
}
a:hover{
	color:#0e0baa;
}

#navbar{
	background-color:#fff;
	display:block;
	padding:0 100px;
	height:80px;
	line-height:74px;
	border-bottom: 5px solid #0e0baa;
	margin-bottom:15px;
}
	
#logo{
	display:inline-block;
	color:#0e0baa;
	font-family:'Erica One';
	font-size:30px;
	float:left;
}
#nav{
	display:inline-block;
	float:right;
}
#nav a{
	display:inline-block;
	padding:00px 15px;
	color:#0e0baa;
	text-decoration: none;
}
#nav a:hover{
	text-decoration:underline;
}
#nav a:visited{
	color:#99f;
}
#nav a:active{
	text-decoration:underline;
	color:#882601;
}



#main{
	box-sizing:border-box;
	display:inline-block;
	float:left;
	width:78%;
	padding:0 0 0 15px;
}
.post{
	display:block;
	margin:25px 60px 25px 80px;
	background-color:#fff;

	border:1px dotted #0e0baa;
	border-bottom:3px solid #0e0baa;
}
.title{
	padding:15px 25px 10px 25px;
	font-size: 20px;
	color:#0e0baa;
}
.text{
	padding:6px 30px 20px 30px;
}
.date{
	float:right;
	font-size:10px;
	color:#0e0b16;

}



#side{
	box-sizing:border-box;
	display:inline-block;
	float:left;
	width:22%;
}
.spost{
	display:block;
	margin-right: 10px;
	margin-top: 25px;
	background-color:#fff;
}
.stitle{
	padding:10px 25px 8px 25px;
	font-size: 18px;
	color:#fff;
	background-color: #0e0baa
}
.stext{
	padding:10px 30px 20px 30px;
}

#footer{
	clear:both;
	box-sizing:border-box;
	display: block;
	background-color:#fff;
	padding:15px 95px;
	color:#0e0baa;
	width:100%;
	margin-top:20px;
}